@font-face {
  /* 사용할 폰트의 이름 */
  font-family: "DungGeunMo";
  font-display: fallback;

  /* 
  src: 사용할 폰트의 위치 및 형식 
     Safari, Android, iOS => ttf
     Modern Browsers => woff
     IE6-IE8 => eot
  */
  src: url("./assets/fonts/DungGeunMo.ttf") format("truetype"), 
				url("./assets/fonts/DungGeunMo.woff") format("woff");

  /* 사용할 폰트의 기본 스타일 */
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  font-family: DungGeunMo, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: DungGeunMo, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  font-family: DungGeunMo;
}

span {
  font-family: DungGeunMo;
}

div {
  font-family: DungGeunMo;
}


.navbar {
  position: absolute;
  top:0px;
  width:100vw;
  z-index: 999;
}

#game {
  /* margin-top: 56px; */
  height: calc(100vh - 60px);
  /* background-color: #87CEEB; */
}

